*
{
	margin: 0;
	padding: 0;
}
html
{
	height: 100%;
}
body
{
	height: inherit;
}
div
{
	box-sizing: border-box;
}
.Head
{
	width: 100%;
	height: 10%;
	position: fixed;
	z-index: 10;
	background-color: #ffc773;
}
.Emblem
{
	height: 10%;
	width: 10%;
	float: left;
}
.Navigation
{
	width: 80%;
	height: 100%;
	float: left;
	border-left: 1px solid #ffb340;
}
.AutorisationMenuButtons
{
	height: 100%;
	width: 10%;
	float:left;
	border-left: 1px solid #ffb340;
}
.AutorisationMenuButtons:hover
{
	cursor: pointer;
	background-color: #969696;
}
.AutorisationMenuButtons>p
{
	padding: 15% 20%;
	text-align: center;
	font-size: 14pt;
}
.MainCase
{
	position: relative;
	top: 10%;
	left: 10%;
	width: 80%;
	background-color: #e0e0e0;
	float: left;
}
.Shadow
{
	display: none;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}
.RegisterMenuBox
{
	width: 60%;
	position: relative;
	float: left;
	left: 20%;
	top: 20%;
	background-color: white;
	box-shadow: 0 0 150px rgba(0,0,0,0.5);
}
.RegisterMenuForms
{
	width: 50%;
	float: left;
	padding: 20px;
}
.Separator
{
	position: relative;
	left: 10%;
	margin: 50px 0;
	width: 80%;
	color: #bdbdbd;
}
.GoalCase
{
	position: relative;
	width: 100%;
	float: left;
}
.GoalCase>h1
{
	margin: 1.5%;
}
.Goal
{
	background-color: #eaeaea;
	width: 30%;
	padding: 10px;
	margin: 1.5%;
	float: left;
}
.HeadBox
{
	width: 100%;
	float: left;
	margin: 0 10px 10px 10px;
}
.Goal>.HeadBox>h3
{
	font-size: 14pt;
}
.Goal>a
{
	display: block;
	position: relative;
	left: 30%;
	float: left;
	background-color: #ffb340;
	width: 40%;
	font-size: 14pt;
	text-align: center;
	text-decoration: none;
	color: black;
}
.Goal>a:hover
{
	cursor: pointer;
	font-weight: bold;
	background-color: #fe9a00;
}
.Goal>a:active
{
	font-weight: none;
	background-color: #ffc773;
}
.TextBox
{
	width: 100%;
	float: left;
	margin: 10px;
}
.Goal>.TextBox>p
{
	font-size: 12pt;
}
.ProgressBar
{
	position: relative;
	margin: 20px 10%;
	width: 80%;
	height: 14pt;
	background-color: white;
	float: left;
}
.Progress
{
	height: 100%;
	background-color: #fe9a00;
	position: absolute;
	z-index: 1;
}
.ProgressText
{
	text-align: center;
	position: relative;
	font-size: 12pt;
	z-index: 2;
}
.PaymentCase
{
	width: 100%;
	padding: 0 50px;
	float: left;
}
.PayMethodMenu
{

}
.PaymentFormCase
{
	
}
.StatsCase
{
	width: 100%;
	padding: 50px;
	float: left;
}
.Footter
{
	width: 100%;
	height: 200px;
	float: left;
}
.LowFunctionButton
{
	text-decoration: underline;
	color: black;
	width: 100%;
	text-align: center;
}
.LowFunctionButton:hover
{
	color: #ffb340;
	font-weight: bold;
	cursor: pointer;
}
.LowFunctionButton:active
{
	color: #fe9a00;
	font-weight: none;
}
.Profil
{
	width: 100%;
	padding: 25px;
	float: left;
}
.Profil>h1
{
	text-align: center;
}
.ProfilChapter
{
	width: 50%;
	margin: 10px;
	border: 3px solid #ffb340;
	padding: 15px;
	float: left;
}
.ProfilChapter>h3
{
	text-align: center;
}