@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,600&display=swap');
*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html
{
	font-family: "Montserrat", sans-serif;
}
body {
	background-color: #f0ddc0d3;
}
li, a, button {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	color: black;
	text-decoration: none;
}

header {
	background-color: #ffc773;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
	margin-bottom: 0;
}
.logo{
	height: 70px;

}
.navlinks {
	list-style: none;
	display: flex;
}

.navlinks li {
	display: inline-block;
	padding: 0px 20px;
}
.navlinks li a{
	transition: all 0.3s ease 0s;
}
.navlinks li a:hover{
	padding: 9px 25px;
	background-size: contain;
	background-color:#ff9900;
	border-radius: 50px;
	
}
button {
	padding: 9px 25px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
button:hover{
	background-color:#fe9a00;
}


.MainCase
{
	position: relative;
	top: 10%;
	left: 10%;
	width: 80%;
	background-color: #e0e0e0;
	float: left;
}
.Shadow
{
	display: none;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}
.RegisterMenuBox
{
	position: relative;
  	float: left;
	left: 25%;
	top: 10%;
	width: 50%;
	background-color: white;
	box-shadow: 0 0 150px rgba(0,0,0,0.5);
	border-radius: 10px;
}
input {
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 10px;
	font-family: "Montserrat", bold;
	cursor: pointer;
	border-style: none;
	background-color: rgb(235, 234, 234);
}
.regB{
	width: 180px;
}
.authB{
	width: 180px;
}


.regB:hover{
	background-color:#fe9a00;
}
.authB:hover{
	background-color:#fe9a00;
}
.RegisterMenuForms
{
	float: left;
	padding: 60px;
}
.vl {
    border-left: 1px solid rgb(0, 0, 0);
    height: 1px;
}
.RegisterMenuForms2
{
	float: right;
	padding: 60px;
}
.Separator
{
	position: relative;
	left: 10%;
	margin: 50px 0;
	width: 80%;
	color: #bdbdbd;
}
.close-block {
	position: absolute;
	right: 32px;
	top: 32px;
	width: 32px;
	height: 32px;
	opacity: 0.3;
	}
	.close-block:hover {
	opacity: 1;
	cursor: pointer;
	}
	.close-block:before, .close-block:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #333;
	}
	.close-block:before {
	transform: rotate(45deg);
	}
	.close-block:after {
	transform: rotate(-45deg);
	}
.GoalCase
{
	position: relative;
	width: 100%;
	float: left;
	border-radius: 15px;
}
.GoalCase>h1
{
	margin: 1.5%;
}
.Goal
{
	border-radius: 20px;
	background-color: #eaeaea;
	width: 30%;
	padding: 10px;
	margin: 1.5%;
	float: left;
}
.HeadBox
{
	width: 100%;
	float: left;
	margin: 0 10px 10px 10px;
}
.Goal>.HeadBox>h3
{
	font-size: 14pt;
}
.Goal>a
{
	display: block;
	position: relative;
	left: 30%;
	float: left;
	background-color: #ffb340;
	width: 40%;
	font-size: 14pt;
	text-align: center;
	text-decoration: none;
	color: black;
}
.Goal>a:hover
{
	cursor: pointer;
	font-weight: bold;
	background-color: #fe9a00;
}
.Goal>a:active
{
	font-weight: none;
	background-color: #ffc773;
}
.TextBox
{
	width: 100%;
	float: left;
	margin: 10px;
}
.Goal>.TextBox>p
{
	font-size: 12pt;
}
.ProgressBar
{
	position: relative;
	margin: 20px 10%;
	width: 80%;
	height: 14pt;
	background-color: white;
	float: left;
}
.Progress
{
	height: 100%;
	background-color: #fe9a00;
	position: absolute;
	z-index: 1;
}
.ProgressText
{
	text-align: center;
	position: relative;
	font-size: 12pt;
	z-index: 2;
}
.PaymentCase
{
	width: 100%;
	padding: 0 50px;
	float: left;
}

.StatsCase
{
	width: 100%;
	padding: 50px;
	float: left;
}
.Footter
{
	width: 100%;
	height: 200px;
	float: left;
}
.LowFunctionButton
{
	text-decoration: underline;
	color: black;
	width: 100%;
	text-align: center;
}
.LowFunctionButton:hover
{
	color: #ffb340;
	font-weight: bold;
	cursor: pointer;
}
.LowFunctionButton:active
{
	color: #fe9a00;
	font-weight: none;
}
.Profil
{
	float: left;
	padding: 60px;

}
.Profil>h1
{
	text-align: left;
}

.MainCase{
	margin-top: 0;
	border-radius: 15px;
}
.MainCase{
	margin-top: 0;
}
.PayMethodBox
{
	width: 20%;
	height: 100%;
	margin: 10px;
	background-color: #fff;
	border: 2px solid black;
	display: inline-block;
	cursor: pointer;
}
.PayMethodEmblem
{
	width: 100%;
	height: 80%;
	float: left;
}
.PayMethodName
{
	display: block;
	height: 20%;
	width: 100%;
	float: left;
	text-align: center;
}
.PayMethodMenu
{
	width: 100%;
	float: left;
	height: 125px;
}

.Goal a{
	border-radius: 10px;
	width: 50%;
	position: relative;
	left: 25%;
}

.Goal .HeadBox input{
	background-color: white;
}
.Goal input{
	background-color: white;
}
.Goal input:hover{
	background-color: #ffb340;
	cursor: pointer;
}

.PaymentFormCase{
	position: relative;
	margin-top: 20%;
}
.bankCheckBut{
	margin-top: 7px;
	opacity: 0;
}

.bankCheckBut:checked{
	opacity: 1;

}
.StatBox
{
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid black;
	float: left;
}
.StatName
{
	width: 40%;
	font-weight: bold;
	float: left;
}
.StatCharacteristic
{
	width: 60%;
	float: left;
}